{% extends 'base.html.twig' %}

{% block title %}BookStorage index{% endblock %}

{% block body %}
    <h1>BookStorage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Title</th>
                <th>Addedon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_storage in book_storages %}
            <tr>
                <td>{{ book_storage.id }}</td>
                <td>{{ book_storage.isbn }}</td>
                <td>{{ book_storage.title }}</td>
                <td>{{ book_storage.addedon ? book_storage.addedon|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('book_storage_show', {'id': book_storage.id}) }}">show</a>
                    <a href="{{ path('book_storage_edit', {'id': book_storage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_storage_new') }}">Create new</a>
{% endblock %}